<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Title</title>
</head>
<body>
<h1 th:text="${title}">Title</h1>
<div>
    <a th:href="@{/product}">Back to list</a>
    <form method="post" th:action="@{/product/form}+${product?.id!=null?('/'+product.id):''}" th:object="${product}">
        <div>
            <label for="name">Name</label>
            <div><input id="name" name="name" type="text" th:field="*{name}"></div>
            <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
        </div>
        <div>
            <label for="price">Price</label>
            <div><input id="price" name="price" type="number" th:field="*{price}"></div>
            <small  th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></small>
        </div>
        <input type="submit" value="Create"/>
    </form>
</div>
</body>
</html>