<!DOCTYPE html>
<html xmlns:th="http://www.thymelaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${title}">Insert title here</title>
</head>
<body>
<h1 th:text="${title}">Title</h1>
<h2 th:text="${param.message}">Title</h2>
<a th:href="@{/product/form}">Create new product</a>
<table>
    <thead>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>price</th>
        <th>created at</th>
        <th>Category</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tr th:each="product: ${products}">
        <td th:text="${product.id}">id</td>
        <td th:text="${product.name}">name</td>
        <td th:text="${product.price}">price</td>
        <td th:text="${product.createdAt}">createdAt</td>
        <td th:each="category: ${categories}" th:text="${category.name}" th:if="${product.category == category.id}"></td>
        <td><a th:href="@{/product/form/}+${product.id}">edit</a></td>
        <td><form method="post" th:action="@{/product/delete/}+${product.id}"><input type="submit" value="DELETE"/></form></td>
    </tr>
</table>
</body>
</html>